define host{
    use                     linux-server
    host_name               nagios-server
    alias                   Nagios Monitoring Server
    address                 127.0.0.1
}

define service{
    use                     local-service
    host_name               nagios-server
    service_description     CPU Load
    check_command           check_local_load!5.0,4.0!10.0,6.0
}

define service{
    use                     local-service
    host_name               nagios-server
    service_description     Disk Usage
    check_command           check_local_disk!20%!10%!/
}

define service{
    use                     local-service
    host_name               nagios-server
    service_description     Memory Usage
    check_command           check_local_swap!OK!20%!10%
}

# Host and services templates
define host{
    name                    linux-server
    check_command           check-host-alive
    max_check_attempts      5
    check_interval          5
    retry_interval          1
    notification_interval   30
    notification_period     24x7
    contact_groups          admins
    register                0
}

define host{
    name                    windows-server
    use                     linux-server
    check_command           check-host-alive
    max_check_attempts      5
    notification_interval   30
    notification_period     24x7
    contact_groups          admins
    register                0
}

define service{
    name                    local-service
    active_checks_enabled   1
    passive_checks_enabled  1
    check_period            24x7
    check_interval          5
    retry_interval          1
    max_check_attempts      4
    notification_interval   0
    notification_period     workhours
    contact_groups          admins
    register                0
}

define service{
    name                    rw-service
    use                     local-service
    check_interval          60
    retry_interval          30
    max_check_attempts      3
    register                0
}

define timeperiod{
    timeperiod_name         workhours
    alias                   "Work Hours"
    monday                  09:00-17:00
    tuesday                 09:00-17:00
    wednesday               09:00-17:00
    thursday                09:00-17:00
    friday                  09:00-17:00
}

define timeperiod{
    timeperiod_name         24x7
    alias                   "24 Hours a Day, 7 Days a Week"
    sunday                  00:00-24:00
    monday                  00:00-24:00
    tuesday                 00:00-24:00
    wednesday               00:00-24:00
    thursday                00:00-24:00
    friday                  00:00-24:00
    saturday                00:00-24:00
}

define contact{
    contact_name            admin
    alias                   Administrator
    service_notification_period     24x7
    host_notification_period        24x7
    service_notification_options    w,u,c,r
    host_notification_options       d,u,r
    service_notification_commands   notify-service-by-email
    host_notification_commands      notify-host-by-email
    email                   admin@securevault.local
}

define contactgroup{
    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 admin
}
