# Nagios NDO Broker Module Configuration

ndo2db_socket_type=unix
ndo2db_socket_name=/var/spool/nagios/ndo.sock

perfdata_spool_dir=/var/spool/nagios
perfdata_file_template=%s
enable_performance_data=1
buffer_slots=65536
